nav {
  display: flex;
}
ul {
  display: flex;
  align-items: center;
}
section {
  display: flex;
  gap: 30px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 960px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

p {
  width: 450px;
  height: 100px;
  overflow: auto;
}


button:hover{
  background-color: blue;
}

button {
  transition: 350ms;
}

footer {
  height: 150px;
  background-color: #000;
}

